
h1,h2,h3,h4,h5,h6 {
  color: #64e5f4 !important;
}


.navbar {
  background-color: #8bc34a !important; 
}


.navbar .navbar-nav .nav-link {
  color: white !important; 
}

.navbar .navbar-nav .nav-link:hover {
  background-color: #64e5f4; 
  color: #fff !important;
}


.page {
  max-width: 100%;
  padding: 0 1rem;
}


main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 1em auto;
  max-height: 500px; 
}


@media (max-width: 768px) {
  main {
    max-width: 95%;
    padding: 0.5rem;
  }
}

table {
  background-color: transparent !important;
  border: none !important;
}

table td, table th {
  background-color: transparent !important;
  border: none !important;
}





